.SubTitle {
    font-size: 20px; 
    color: #409EFF; 
    font-weight: 550;
}

.SubTitle2 {
    font-size: 16px; 
    font-weight: 500;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

ul {
    padding-left: 10px;
}
